@model IEnumerable<Blog>

    @foreach (var item in Model)
            {
        <div class="card mb-2">
            <div class="card-header text-center">
                @item.Title
            </div>
            <img class="card-img-top" src="~/images/@item.Image" alt="Card image cap">

            <div class="card-block text-center">
                <h4 class="card-title">@item.Title</h4>
                <p class="card-text">@item.Description</p>
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-primary">Blog Details</a>
            </div>
        </div>
    }


